<div th:fragment="footer">
    <footer id="footer">
        <div id="bottom-footer" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Depósito de sorvetes</p>
                        <span class="copyright">
                            Feito por Eduardo Rodrigues - TADS 2024.1
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
