<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header>
        <div id="top-header" th:if="${telaPrincipal}">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="header-links pull-left">
                            <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="header-links pull-right">
                            <div sec:authorize="isAuthenticated()">
                                <li>
                                    <a href="/login">
                                        <i class="fa fa-sign-out"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/index" class="logo">
                                <img th:src="@{/images/logo.png}" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">

                            <div class="dropdown" th:if="${telaPrincipal}">
                                <a href="/verCarrinho" class="dropdown-toggle">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Seu Carrinho</span>
                                    <div class="qty" th:text="${session.carrinho != null ? session.carrinho.size() : 0}">0</div>
                                </a>
                            </div>

                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

